body{
    font-size: 20px;
}

.header{
    width: 50%;
    margin: 40px auto 0px;
    color:white;
    background: black  /*rgb(78, 228, 145)*/;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px 8px 0px 0px;

}
.wrapper{
    width: 50%;
    margin: 0px auto;
    border: 1px solid gray;
}

.wrapper:after{
    content: "";
    display: block;
    clear:both;
}

h3{
    margin-left: 10px;
}


.words {

    width: 29%;
    background: #e7dddd;
    padding-top: 10px;
    float: left;
    padding-left: 30px;
}

.word{
    width: 69% ;
    float: left;
    padding-left: 10px ;

}


#word_list{

    max-height: 400px;
    overflow-y: scroll;
}

li{
    list-style-type: none;
    line-height: 1.4em;

}

li:hover{
    cursor: pointer;
    color: rgb(53, 56, 216);
}

ul{
    margin-left: -10px;
}

#search{
    margin-left: 10px;
    width: 60%;
    padding: 5px;
    height: 13px;
}

button{
    height: 27px;
    background:rgb(53, 56, 216) ;
    color: white;
    border: none;
    border-radius: 4px;
}

#logout{
    height: 27px;
    background:rgb(53, 56, 216) ;
    color: white;
    border: none;
    border-radius: 4px;

}